<template name="Header">

  <img style="max-height: 400px" class="ui fluid image" src="/images/studyBuddy.jpg">

  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Home</h1></a>
      <!--{{> Cas_Login }}-->
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Profile_Page'}} item" href="{{ pathFor 'Add_Profile_Page' }}">Add Profile</a>
        <a class="{{ isActiveRoute 'List_Profile_Page'}} item" href="{{ pathFor 'List_Profile_Page' }}">List Profile</a>
      {{/if}}
      <a href="#" class="item">{{> loginButtons }} </a>
    </div>
  </div>
</template>